body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: "Roboto", 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
    padding: 16px 10%;
}
    .header-logo {
        color: #f9faf8;
        font-size: 24px;
        font-weight: bold;
    }

    .header-links {
        display: flex;
        gap: 16px;
        list-style-type: none;
    }
    .header-links a {
        text-decoration: none;
        color: #e5e7eb;
        font-size: 18px;
    }
